# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BlockColor.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Julien\source\repos\BlockColor\.idea\.idea.BlockColor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
